.faq-section {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.faq-box {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  background-color: white;
  padding: 2rem;
  width: 70%;
  height: 800px;
}

.faq-box-title {
  font-size: 46px;
  font-weight: 900;
  text-align: left;
  color: #424268;
  /* margin-bottom: 30px; */
  line-height: 58.09px;
}

.faq-section-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-height: 200px;
}

.questions-section {
  border-radius: 1px;
  cursor: pointer;
  width: 100%;
}

.question-each {
  background-color: #f9f9f9;
}

.questions-align {
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  min-height: 10px;
  text-align: left;
}

.questions-align h4 {
  font-size: 20px;
  line-height: 24.2px;
  font-weight: 600px;
}

.question-styling {
  font-size: 17px;
}

.question-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  margin-left: auto;
  margin-right: 8px;
}

.rotate {
  transform: rotate(45deg);
}

.answer {
  margin-top: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.faq-image {
  width: 35%;
  background-color: var(--text-colorOne);
  background-image: url("/public/assets/pattern.svg");
  background-repeat: repeat;
  background-position: cover;
  max-height: 100%;
  position: relative;
}

.faq-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.faq-content h1 {
  color: white;
  font-size: 48px;
  line-height: 58.09px;
  font-weight: 900;
  margin-top: 1rem;
}

.cta-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.app-play-store {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.coming-soon {
  width: 350px;
  position: absolute;
  bottom: 0%;
}

@media screen and (max-width: 1024px) {
  .faq-box-title {
    font-size: 30px;
  }
  .faq-content h1 {
    font-size: 40px;
  }

  .cta-icon {
    width: 140px;
  }
  .coming-soon {
    width: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .faq-section {
    flex-direction: column;
  }

  .faq-image {
    width: 100%;
    height: 550px;
  }

  .faq-box {
    width: 100%;
    height: 1000px;
  }
}

@media screen and (max-width: 500px) {
  .questions-align h4 {
    font-size: 15 px;
  }

  .faq-box-title {
    font-size: 40px;
    text-align: center;
    line-height: 42.2px;
  }

  .faq-image {
    width: 100%;
    height: 550px;
  }

  .faq-box {
    width: 100%;
    height: 1000px;
  }
}
