.mobile-navbar {
  display: none;
}

@media screen and (max-width: 1000px) {
  .mobile-navbar {
    width: 100%;
    height: 50px;
    background-color: var(--bodyColor);
    display: flex;
  }

  .mobile-navbar-link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

  .mobile-active-link {
    background-color: #6366f1;
    color: white;
    width: 100%;
  }

  .mobile-navbar-link:hover {
    background-color: #e5e5e5;
  }
}

@media screen and (max-width: 500px) {
  .mobile-navbar {
    width: 100%;
    height: 50px;
    background-color: var(--bodyColor);
    display: flex;
  }

  .mobile-navbar-link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

  .mobile-active-link {
    background-color: #6366f1;
    color: white;
    width: 100%;
  }

  .mobile-navbar-link:hover {
    background-color: #e5e5e5;
  }
}

@media screen and (max-width: 400px) {
  .mobile-navbar {
    width: 100%;
    height: 50px;
    background-color: var(--bodyColor);
    display: flex;
  }

  .mobile-navbar-link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

  .mobile-active-link {
    background-color: #6366f1;
    color: white;
    width: 100%;
  }

  .mobile-navbar-link:hover {
    background-color: #e5e5e5;
  }
}

@media screen and (max-width: 375px) {
  .mobile-navbar {
    width: 100%;
    height: 50px;
    background-color: var(--bodyColor);
    display: flex;
  }

  .mobile-navbar-link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

  .mobile-active-link {
    background-color: #6366f1;
    color: white;
    width: 100%;
  }

  .mobile-navbar-link:hover {
    background-color: #e5e5e5;
  }
}
