@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #000000;
  --text-colorOne: #6867e2;
  --text-colorThree: #ffffff;
  --text-colorFour: #424268;
  --text-colorFive: #e3be7e;
  --bg-color: #ffffff;
  --bodyColor: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Inter", system-ui;
}

html {
  background-color: var(--bodyColor);
}

.hero {
  margin: 1rem;
  /* -webkit-box-shadow: 0px 0px 47px -29px rgba(23, 14, 23, 1);
  -moz-box-shadow: 0px 0px 47px -29px rgba(23, 14, 23, 1);
  box-shadow: 0px 0px 47px -29px rgba(23, 14, 23, 1); */
  /* height: 50vw; */
}

.features {
  margin: 1rem;
  /* -webkit-box-shadow: 0px 0px 47px -29px rgba(23, 14, 23, 1);
  -moz-box-shadow: 0px 0px 47px -29px rgba(23, 14, 23, 1); */
  /* box-shadow: 0px 0px 47px -29px rgba(23, 14, 23, 1); */
  /* height: 50vw; */
  background-color: transparent;
}

.benefits {
  margin: 1rem;
  /* -webkit-box-shadow: 0px 0px 47px -29px rgba(23, 14, 23, 1);
  -moz-box-shadow: 0px 0px 47px -29px rgba(23, 14, 23, 1);
  box-shadow: 0px 0px 47px -29px rgba(23, 14, 23, 1); */
  background-color: var(--text-colorFour);
}

.footer {
  margin: 1rem;
  /* -webkit-box-shadow: 0px 0px 47px -29px rgba(23, 14, 23, 1);
  -moz-box-shadow: 0px 0px 47px -29px rgba(23, 14, 23, 1);
  box-shadow: 0px 0px 47px -29px rgba(23, 14, 23, 1); */
  background-color: var(--text-colorFour);
}

.faq {
  margin: 1rem;
}

/* For screens larger than or equal to 1536px */
@media (min-width: 1536px) {
  /* Your styles here for 'desktop-above' */
  .personal-main {
    max-width: 1536px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .bussiness-main {
    max-width: 1536px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
/* 
For screens larger than or equal to 1440px
@media (min-width: 1440px) {
  Your styles here for 'desktop'
} */
